<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Telus_Canada.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>202204151500</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
				<key>dateExpires</key>
				<string>2022/11/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GZIP.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MQTTClient.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NTPKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjcExceptionBridging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SHXMLParser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTOpenInAppActivity.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TrueTime.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>202204151500</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>48A4FC2C740D290221C30709E28F7A436218AC50</string>
						<key>dateExpires</key>
						<string>2022/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XCGLogger.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>945DY8RP35</string>
						<key>name</key>
						<string>TELUS Communications Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.29</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>945DY8RP35.com.telus.ss.mcptx</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.pushkit.unrestricted-voip</key>
				<true/>
				<key>com.apple.developer.pushkit.unrestricted-voip.ptt</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>945DY8RP35</string>
				<key>com.apple.external-accessory.wireless-configuration</key>
				<true/>
				<key>get-task-allow</key>
				<false/>
				<key>inter-app-audio</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Telus_Canada.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eaa15514-dc3f-40a9-8b4c-b39ba853760d</string>
				<key>dateExpires</key>
				<string>2022/11/25</string>
				<key>name</key>
				<string>TELUS MCPTX Prod Prov Prof</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>945DY8RP35</string>
				<key>name</key>
				<string>TELUS Communications Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.29</string>
		</dict>
	</array>
</dict>
</plist>
